---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/start-here">Start Here</a> |
      <a href="/work">Work</a> |
      <a href="/writing">Writing</a> |
      <a href="/service">Service</a> |
      <a href="/values">Values</a> |
      <a href="/reflections">Reflections</a> |
      <a href="/blog">Blog</a>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
