---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const essays = await getCollection("essays");
  return essays.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<BaseLayout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  {entry.body}
</BaseLayout>
